.Home {
  text-align: center;
}

.card-img-overlay {
  margin-top: 67px;
  text-shadow: 0px 0px 10px black, 1px 1px 1em black, 0 0 0.2em black;
}


.background {
  margin-top: 67px;
  animation-name: background;
  animation-duration: 4s;
}

@keyframes background {
  from {
    filter: brightness(5%);
  }
  to {
    filter: brightness(100%);
  }
}

@media screen and (max-width: 570px) {}
