.menu {
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
}

.dropdown-toggle.nav-link {
    display: none;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active, .menu-active {
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 570px) {
    .dropdown-toggle.nav-link {
        display: inline;
    }
    .mobile {
        color: rgb(122, 122, 122);
    }
    .menu-active.mobile {
        color: black;
    }
}