.menu {
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
}

.mobile {
    color: rgb(122, 122, 122);
}

.menu-active.mobile {
    color: black;
}

.mobileMenu {
    display: none;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active, .menu-active {
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 570px) {
    .nav-link {
        display: none;
    }
    .mobileMenu.nav-item.dropleft {
        display: inline;
    }
}